.custom-navbar {
    background-color: rgba(26, 26, 46, 0.8); /* Warna dengan transparansi */
    margin-top: 20px; /* Menurunkan navbar sedikit ke bawah */
    border-radius: 15px; /* Memberikan lekukan pada setiap ujungnya */
}
.navbar-brand {
    font-weight: bold;
}
.navbar-nav .nav-link {
    color: #ffffff;
}
.navbar-nav .nav-link:hover {
    color: #d1d1e0;
}
.navbar-text .nav-link {
    color: #ffffff;
    font-weight: bold;
}
.navbar-text .nav-link:hover {
    color: #d1d1e0;
}