/* public/css/home/style.css */
.black-background {
    background-color: black;
    color: white;
}

.black-card {
    background-color: #333; /* Warna gelap */
    color: white;
    border: 1px solid white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3); /* Tambahkan bayangan */
    transition: transform 0.3s; /* Animasi transformasi */
    height: 300px; /* Tinggi tetap */
    width: 300px; /* Lebar diperlebar dari 250px menjadi 300px */
    overflow: hidden; /* Tambahkan ini untuk menghilangkan scrollbar */
    box-sizing: border-box; /* Pastikan padding dan border dihitung dalam dimensi elemen */
}

.black-card:hover {
    transform: scale(1.05); /* Efek membesar saat hover */
}

.card-text {
    max-height: 150px; /* Tinggi maksimum untuk teks */
    overflow-y: auto; /* Tambahkan scrollbar vertikal jika diperlukan */
    box-sizing: border-box; /* Pastikan padding dan border dihitung dalam dimensi elemen */
}

/* Sembunyikan scrollbar tetapi tetap memungkinkan pengguliran */
.card-text::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* opsional, untuk menyembunyikan latar belakang scrollbar */
}

.card-text {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.card-custom {
    background-color: #333; /* Warna gelap */
    color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s ease-in-out;
}
.card-custom:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0,0,0,0.2);
}
.card-img-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 200px; /* Atur tinggi */
    object-fit: cover; /* Pastikan gambar menutupi area tanpa distorsi */
}

.custom-card-style {
    padding: 20px; /* Tambahkan padding */
}

.custom-img {
    height: 200px; /* Atur tinggi gambar */
    object-fit: cover; /* Pastikan gambar menutupi area tanpa distorsi */
}

.card-fixed-height {
    height: 95%; /* Pastikan semua card memiliki tinggi yang sama */
    overflow: hidden; /* Sembunyikan overflow */
}

.card-img-top {
    height: 200px; /* Atur tinggi gambar */
    object-fit: cover; /* Pastikan gambar menutupi area tanpa distorsi */
    border-top-left-radius: 10px; /* Bulatkan sudut atas kiri */
    border-top-right-radius: 10px; /* Bulatkan sudut atas kanan */
}

.card {
    background-color: black; /* Warna latar belakang card */
    color: white; /* Warna teks */
    border: 1px solid #ccc; /* Border card */
    margin-bottom: 20px; /* Margin bawah */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Bayangan */
    transition: transform 0.3s ease-in-out; /* Transisi saat hover */
}

.card:hover {
    transform: scale(1.05); /* Efek membesar saat hover */
    box-shadow: 0 6px 12px rgba(0,0,0,0.2); /* Bayangan saat hover */
}
